@import "../../App.scss";

.translation-container {
	@include flexbox($align: center);
}

.translation {
	@include flexbox($align: flex-start);

	@each $type, $color in $card-type-colors {
		&__color--#{$type} {
			background-color: #{$color};
		}
	}

	border: {
		radius: $border-radius;
		style: solid;
		width: 16px;
	}

	box-sizing: border-box;
	color: #000;

	font: {
		family: $font-garamond;
		size: 16px;
	}

	padding: $indent__s;
	max-width: 360px;
	width: 80vw;

	&__background {
		align-self: center;
		background-color: $translation-background;
		border: double 1px $gray;
		border-radius: 10px;
		display: flex;
		margin-bottom: $indent__xs;
		width: calc(100% + $indent__s);
	}

	&__name {
		font: {
			family: $font-beleren;
			size: 18px;
		}

		padding: $indent__xs calc($indent__xs / 2) calc($indent__xs / 2)
			calc($indent__s / 2);
	}

	&__art-crop {
		border: solid 1px $gray;
		width: 100%;
	}

	&__type {
		font: {
			family: $font-beleren;
			size: 14px;
		}
		padding: $indent__xs;
		padding-left: calc(($indent__s / 2) + $indent__s);
	}

	&__text {
		padding: $indent__s;

		&__background {
			@include flexbox($direction: column);

			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 0;
			min-height: 10rem;
			width: 100%;
		}
	}

	&__line {
		width: 65%;
	}

	&__flavor {
		font: {
			size: 14px;
			style: italic;
			weight: 700;
		}

		margin-bottom: $indent__s;
		padding: $indent__s;
		width: calc(100% - ($indent__s * 2));
	}
}
