@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}

@mixin desktop-large {
	@media screen and (min-width: $desktop-large) {
		@content;
	}
}

@mixin flexbox($direction: column, $align: center) {
	align-items: $align;
	display: flex;
	flex-direction: $direction;
}
