@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap");

// Spacing

$indent__base: 16px;
$indent__xs: $indent__base * 0.25; // 4px
$indent__s: $indent__base * 0.5; // 8px
$indent__m: $indent__base * 1.5; // 24px
$indent__l: $indent__base * 2; // 32px
$indent__xl: $indent__base * 4; // 64px

$max__width: 400px;

// BreakPoints

$desktop: 640px;

// Fonts

$font-jost: "Jost", sans-serif;
$font-garamond: "Cormorant Garamond", serif;

// Colors

$primary: #9e6240;
$secondary: #dea47e;
$background: #dbd9db;
$gray: #4a4a4a;

$translation-background: rgba(255, 255, 255, 0.5);

$card-type-colors: (
	W: #d2c4ae,
	U: #4d83da,
	B: #393c34,
	R: #c24138,
	G: #4c7f5c,
	multicolor: #e0c938,
	colorless: #a6a5b3,
);
