@import "../../App.scss";

.header {
	@include flexbox($align: center);
	color: $primary;
	font-family: $font-beleren;

	padding: 32px;
	background-color: $primary;
	color: $secondary;
	width: 100%;
	//   margin-bottom: 32px;

	&__title {
		font: {
			size: 64px;
			weight: 700;
		}

		line-height: 1;
		margin: 0;

		&__subtitle {
			font: {
				size: 32px;
				weight: 700;
			}
			margin: 0;
		}
	}

	&__paragraph {
		@include flexbox($align: flex-start);
	}
}
