@import "./styles/variables";
@import "./styles/mixins";

body {
	margin: 0;
	padding: $indent__base;
}

.container {
	// @include flexbox;
	background-color: antiquewhite;
	height: 100%;
	max-width: 640px;
	@include desktop {
		margin: 0 auto;
	}
}
