@import "./styles/variables";
@import "./styles/mixins";

body {
	background-color: $background;
	margin: 0;

	font: {
		family: $font-jost;
		size: 16px;
		weight: 500;
	}

	#root {
		@include flexbox($align: center);
	}

	.container {
		height: 100%;
		max-width: 640px;
		padding: $indent__base;

		@include desktop {
			padding: $indent__m;
		}
	}

	.cards {
		@include flexbox($align: center, $direction: column);

		gap: $indent__l;
		margin-top: $indent__l;

		@include desktop-large {
			@include flexbox($align: center, $direction: row);
		}
	}
}
